<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="" ui-sref="books">Books</a>
    </div>
    <div class="navbar-form">
      <div class="form-group">
        <button type="submit" ui-sref="newBook" class="btn btn-primary">Новая книга</button>
      </div>
      <label class="radio-inline">
        <input type="radio" ng-model="$ctrl.filter.value" value="title" ng-change="$ctrl.selectFilter()"> Сортировка по заголовку
      </label>
      <label class="radio-inline">
        <input type="radio" ng-model="$ctrl.filter.value" value="publishDate" ng-change="$ctrl.selectFilter()"> Сортировка по году публикации
      </label>
    </div>
  </div>
</nav>